body{
    background-color: #a4d7ea;
}
form{
    background-color: #F8F8FF;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 66%;
    transform: translate(-50%,-50%);
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000070;
}
form h3{
    text-align: center;
    color: #7f669f;
    font-size: x-large;
}
form input[type=text]{
    width: 100%;
    height: 45px;
    border: 1px, solid #7f669f;
    padding-left: 10px;
    margin: 10px 0;
}
form input[type=password]{
    width: 100%;
    height: 45px;
    border: 1px, solid #7f669f;
    padding-left: 10px;
    margin: 10px 0;
}
form input[type=number]{
    width: 100%;
    height: 45px;
    border: 1px, solid #7f669f;
    padding-left: 10px;
    margin: 10px 0;
}
form input[type=submit]{
    width: 100%;
    height: 30px;
    cursor: pointer;
    background: #36a7e1;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -moz-transition: background-color 1s;
}
form input[type=submit]:hover{
    background-color: #7f669f;
    color: black;
}
form input[type=date]{
    width: 100%;
    height: 45px;
    padding-left: 10px;
    margin: 20px 0;
}
/*As classes*/

.logo{
    position: absolute;
    top: 0%;
    left: 40%;
    width: 20%;
}
/*Inicio @Midia*/
@media screen and(min-width:320px) and (max-width:768px){
    body{
        background-color: #a4d7ea;
    }
    form{
        background-color: #F8F8FF;
        max-width: 500px;
        width: 70%;
        padding: 20px;
        position: absolute;
        left: 50%;
        top: 66%;
        transform: translate(-50%,-50%);
        border-radius: 4%;
        box-shadow: 3px 3px 1px 0px #00000070;
    }
    form h3{
        text-align: center;
        color: #7f669f;
        font-size: x-large;
    }
    form input[type=text]{
        width: 100%;
        height: 45px;
        border: 1px, solid #7f669f;
        padding-left: 10px;
        margin: 10px 0;
    }
    form input[type=password]{
        width: 100%;
        height: 45px;
        border: 1px, solid #7f669f;
        padding-left: 10px;
        margin: 10px 0;
    }
    form input[type=number]{
        width: 100%;
        height: 45px;
        border: 1px, solid #7f669f;
        padding-left: 10px;
        margin: 10px 0;
    }
    form input[type=submit]{
        width: 100%;
        height: 30px;
        cursor: pointer;
        background: #36a7e1;
        color: white;
        border: none;
        border-radius: 10px;
        transition: background-color 1s;
        -webkit-transition: background-color 1s;
        -o-transition: background-color 1s;
        -ms-transition: background-color 1s;
        -moz-transition: background-color 1s;
    }
    form input[type=submit]:hover{
        background-color: #7f669f;
        color: black;
    }
    form input[type=date]{
        width: 100%;
        height: 45px;
        padding-left: 10px;
        margin: 20px 0;
    }
    /*As classes*/
    
    .logo{
        position: absolute;
        top: 0%;
        left: 40%;
        width: 20%;
    }
}